* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.control {
    width: 15vw;
    height: 80vh;
    position: fixed;
    right: 0;
    top: 10vh;
    background-color: #00000041;

    padding: 10px;
    color: #fff;
}

.control__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}